# Used by some scripts in ./bin, such as manh and manp
/caches/

# Ignore the local directory, but track .gitkeep so it's included in the repo.
/local/*
!/local/.keep

# Ignore known possible .local versions of dotfiles
#
# These ideally wouldn't be added to the repository, but gitignoring in case
# they ever are.
.bashenv.local
.bashrc.local
.gitconfig.local
.hgrc.local
.psqlrc.local
.shared_env.local
.zshenv.local
.zshrc.local

# .ammonite
#
# Only track predef.scala
/home/.ammonite/*
!/home/.ammonite/predef.scala

# Only track specific atom config files
/home/.atom/*
!/home/.atom/config.cson
!/home/.atom/init.coffee
!/home/.atom/keymap.cson
!/home/.atom/snippets.cson
!/home/.atom/styles.less

# Only track home/.aws Readme
/home/.aws/*
!/home/.aws/Readme.md

# Only track home/.bpkg Readme
/home/.bpkg/*
!/home/.bpkg/Readme.md

# Only track specific .cabal files
#
# Include example config and help files only.
/home/.cabal/*
!/home/.cabal/config.template
!/home/.cabal/generate_config.sh
!/home/.cabal/README.md
!/home/.cabal/where-is-my-stuff.txt

# .config
#
# Only track specific .config files
/home/.config/*
# base16-shell
!/home/.config/base16-shell
# git
!/home/.config/git
# htop
!/home/.config/htop
!/home/.config/htop/htoprc
# Sublime Text 3
!/home/.config/sublime-text-3
/home/.config/sublime-text-3/*
!/home/.config/sublime-text-3/Readme.md
!/home/.config/sublime-text-3/Packages
/home/.config/sublime-text-3/Packages/*
!/home/.config/sublime-text-3/Packages/User
/home/.config/sublime-text-3/Packages/User/*
!/home/.config/sublime-text-3/Packages/User/Markdown\ Extended.sublime-settings
!/home/.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!/home/.config/sublime-text-3/Packages/User/Package\ Control.sublime-settings

# .hyperlocal
#
# Only track home/.hyperlocal Readme
/home/.hyperlocal/*
!/home/.hyperlocal/Readme.md

# Only track specific ipython config files
#
# Note: the exclude/include flip-flopping is required because using a wildcard
# exclusion of the form `/home/.ipython/**/*` ends up not ignoring files in
# the base directory, in this case the `README` file in `.ipython`.
/home/.ipython/*
!/home/.ipython/profile_default
/home/.ipython/profile_default/*
!/home/.ipython/profile_default/ipython_config.py
!/home/.ipython/profile_default/ipython_nbconvert_config.py
!/home/.ipython/profile_default/ipython_notebook_config.py
!/home/.ipython/profile_default/ipython_qtconsole_config.py

# Only track the leiningen / clojure default profiles
/home/.lein/*
!/home/.lein/profiles.cjl

# Only track home/.newsbeuter/urls
/home/.newsbeuter/*
!/home/.newsbeuter/urls

# Only track home/.npm-packages Readme
/home/.npm-packages/*
!/home/.npm-packages/Readme.md

# Only track example Overcast configuration files.
/home/.overcast/*
!/home/.overcast/example.clusters.json
!/home/.overcast/example.variables.json

# Don't commit rbenv temp files.
/home/.rbenv/shims/
/home/.rbenv/versions/
/home/.rbenv/version

# Only track specific rvm config files
/home/.rvm/*
!/home/.rvm/gemsets
/home/.rvm/gemsets/*
!/home/.rvm/gemsets/default.gems
!/home/.rvm/gemsets/global.gems
!/home/.rvm/user
/home/.rvm/user/*
!/home/.rvm/user/db

# Only track ssh config default and example configuration files.
/home/.ssh/*
!/home/.ssh/default.sshconfig
!/home/.ssh/config.d
/home/.ssh/config.d/*
!/home/.ssh/config.d/example.com.sshconfig

# Only trash .textadept/init.lua
/home/.textadept/*
!/home/.textadept/init.lua

# .vim
#
# Ignore temp vim files.
# Copied from home/.vim.janus/.gitignore.
/home/.vim/_backup
/home/.vim/_temp
/home/.vim/.netrwhist
# Vimius file
/home/.vim/.vimius
