[submodule "vendor/com/github/alphabetum/prelude"]
	path = vendor/com/github/alphabetum/prelude
	url = https://github.com/alphabetum/prelude.git
[submodule "vendor/com/github/alphabetum/alias-app"]
	path = vendor/com/github/alphabetum/alias-app
	url = https://github.com/alphabetum/alias-app.git
[submodule "vendor/com/github/alphabetum/shell-app"]
	path = vendor/com/github/alphabetum/shell-app
	url = https://github.com/alphabetum/shell-app.git
[submodule "vendor/com/github/alphabetum/dict"]
	path = vendor/com/github/alphabetum/dict
	url = https://github.com/alphabetum/dict.git
[submodule "vendor/com/github/ShaneKilkelly/manuel"]
	path = vendor/com/github/ShaneKilkelly/manuel
	url = https://github.com/ShaneKilkelly/manuel.git
[submodule "vendor/com/github/alphabetum/git-mkrepo"]
	path = vendor/com/github/alphabetum/git-mkrepo
	url = https://github.com/alphabetum/git-mkrepo.git
[submodule "vendor/com/github/alphabetum/git-nest"]
	path = vendor/com/github/alphabetum/git-nest
	url = https://github.com/alphabetum/git-nest.git
[submodule "vendor/com/github/ddollar/git-utils"]
	path = vendor/com/github/ddollar/git-utils
	url = https://github.com/ddollar/git-utils.git
[submodule "vendor/com/github/jwiegley/git-scripts"]
	path = vendor/com/github/jwiegley/git-scripts
	url = https://github.com/jwiegley/git-scripts.git
[submodule "vendor/com/github/alphabetum/osx-cli"]
	path = vendor/com/github/alphabetum/osx-cli
	url = https://github.com/alphabetum/osx-cli.git
[submodule "vendor/com/github/e36freak/tools"]
	path = vendor/com/github/e36freak/tools
	url = https://github.com/e36freak/tools.git
[submodule "vendor/com/github/alphabetum/manuel"]
	path = vendor/com/github/alphabetum/manuel
	url = https://github.com/alphabetum/manuel.git
[submodule "vendor/com/github/alphabetum/manuel-contrib-watch"]
	path = vendor/com/github/alphabetum/manuel-contrib-watch
	url = https://github.com/alphabetum/manuel-contrib-watch.git
[submodule "vendor/com/github/alphabetum/manuel-contrib-concurrent"]
	path = vendor/com/github/alphabetum/manuel-contrib-concurrent
	url = https://github.com/alphabetum/manuel-contrib-concurrent.git
[submodule "vendor/com/github/livibetter/pipes.sh"]
	path = vendor/com/github/livibetter/pipes.sh
	url = https://github.com/livibetter/pipes.sh.git
[submodule "vendor/com/github/alphabetum/hosts"]
	path = vendor/com/github/alphabetum/hosts
	url = https://github.com/alphabetum/hosts.git
[submodule "vendor/com/github/alphabetum/bask"]
	path = vendor/com/github/alphabetum/bask
	url = https://github.com/alphabetum/bask.git
[submodule "vendor/com/github/syl20bnr/spacemacs"]
	path = vendor/com/github/syl20bnr/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	ignore = dirty
[submodule "vendor/com/github/alphabetum/seti.vim"]
	path = vendor/com/github/alphabetum/seti.vim
	url = https://github.com/alphabetum/seti.vim.git
[submodule "vendor/com/github/chriskempson/base16-builder"]
	path = vendor/com/github/chriskempson/base16-builder
	url = https://github.com/chriskempson/base16-builder.git
[submodule "vendor/com/github/hnarayanan/shpotify"]
	path = vendor/com/github/hnarayanan/shpotify
	url = https://github.com/hnarayanan/shpotify.git
[submodule "vendor/com/github/junegunn/fzf"]
	path = vendor/com/github/junegunn/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vendor/com/github/alphabetum/search.sh"]
	path = vendor/com/github/alphabetum/search.sh
	url = https://github.com/alphabetum/search.sh.git
[submodule "vendor/com/github/alphabetum/bindle"]
	path = vendor/com/github/alphabetum/bindle
	url = https://github.com/alphabetum/bindle.git
[submodule "vendor/com/github/chadbraunduin/markdown.bash"]
	path = vendor/com/github/chadbraunduin/markdown.bash
	url = https://github.com/chadbraunduin/markdown.bash.git
[submodule "vendor/com/github/alphabetum/orphans"]
	path = vendor/com/github/alphabetum/orphans
	url = https://github.com/alphabetum/orphans.git
[submodule "vendor/com/github/alphabetum/airport"]
	path = vendor/com/github/alphabetum/airport
	url = https://github.com/alphabetum/airport.git
[submodule "vendor/com/github/drduh/pwd.sh"]
	path = vendor/com/github/drduh/pwd.sh
	url = https://github.com/drduh/pwd.sh.git
[submodule "vendor/com/github/mrowa44/emojify"]
	path = vendor/com/github/mrowa44/emojify
	url = https://github.com/mrowa44/emojify.git
[submodule "vendor/com/github/holman/spaceman-diff"]
	path = vendor/com/github/holman/spaceman-diff
	url = https://github.com/holman/spaceman-diff.git
[submodule "vendor/com/github/sstephenson/rbenv"]
	path = vendor/com/github/sstephenson/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "vendor/com/github/mattly/bork"]
	path = vendor/com/github/mattly/bork
	url = https://github.com/mattly/bork.git
[submodule "vendor/com/github/jimhester/per-directory-history"]
	path = vendor/com/github/jimhester/per-directory-history
	url = https://github.com/jimhester/per-directory-history.git
[submodule "vendor/com/github/alphabetum/dsgn"]
	path = vendor/com/github/alphabetum/dsgn
	url = https://github.com/alphabetum/dsgn.git
[submodule "vendor/com/github/alphabetum/accounts"]
	path = vendor/com/github/alphabetum/accounts
	url = https://github.com/alphabetum/accounts.git
[submodule "vendor/com/github/nextrevision/sempl"]
	path = vendor/com/github/nextrevision/sempl
	url = https://github.com/nextrevision/sempl.git
[submodule "vendor/com/github/dsanson/termpdf"]
	path = vendor/com/github/dsanson/termpdf
	url = https://github.com/dsanson/termpdf.git
[submodule "vendor/com/github/zsh-users/zaw"]
	path = vendor/com/github/zsh-users/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "vendor/com/github/jamesob/desk"]
	path = vendor/com/github/jamesob/desk
	url = https://github.com/jamesob/desk.git
[submodule "vendor/com/github/alphabetum/pb"]
	path = vendor/com/github/alphabetum/pb
	url = https://github.com/alphabetum/pb.git
[submodule "vendor/com/github/nuex/t"]
	path = vendor/com/github/nuex/t
	url = https://github.com/nuex/t.git
[submodule "vendor/com/github/yyuu/pyenv"]
	path = vendor/com/github/yyuu/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "vendor/com/github/yyuu/pyenv-doctor"]
	path = vendor/com/github/yyuu/pyenv-doctor
	url = https://github.com/yyuu/pyenv-doctor.git
[submodule "vendor/com/github/yyuu/pyenv-installer"]
	path = vendor/com/github/yyuu/pyenv-installer
	url = https://github.com/yyuu/pyenv-installer.git
[submodule "vendor/com/github/yyuu/pyenv-update"]
	path = vendor/com/github/yyuu/pyenv-update
	url = https://github.com/yyuu/pyenv-update.git
[submodule "vendor/com/github/yyuu/pyenv-virtualenv"]
	path = vendor/com/github/yyuu/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "vendor/com/github/yyuu/pyenv-which-ext"]
	path = vendor/com/github/yyuu/pyenv-which-ext
	url = https://github.com/yyuu/pyenv-which-ext.git
[submodule "vendor/com/github/altercation/mutt-colors-solarized"]
	path = vendor/com/github/altercation/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "vendor/com/github/alphabetum/notes"]
	path = vendor/com/github/alphabetum/notes
	url = https://github.com/alphabetum/notes.git
[submodule "vendor/com/github/alphabetum/vbox"]
	path = vendor/com/github/alphabetum/vbox
	url = https://github.com/alphabetum/vbox.git
[submodule "vendor/com/github/chase-miller/time-machine-sparce-bundle-fix"]
	path = vendor/com/github/chase-miller/time-machine-sparce-bundle-fix
	url = https://github.com/chase-miller/time-machine-sparce-bundle-fix.git
[submodule "vendor/com/github/alphabetum/astral"]
	path = vendor/com/github/alphabetum/astral
	url = https://github.com/alphabetum/astral.git
[submodule "vendor/com/github/guarinogabriel/mac-cli"]
	path = vendor/com/github/guarinogabriel/mac-cli
	url = https://github.com/guarinogabriel/mac-cli.git
[submodule "vendor/com/github/mchav/with"]
	path = vendor/com/github/mchav/with
	url = https://github.com/mchav/with.git
[submodule "vendor/com/github/joh6nn/shrepl"]
	path = vendor/com/github/joh6nn/shrepl
	url = https://github.com/joh6nn/shrepl.git
[submodule "vendor/com/github/zsh-users/zsh-syntax-highlighting"]
	path = vendor/com/github/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vendor/com/github/Linuxbrew/brew"]
	path = vendor/com/github/Linuxbrew/brew
	url = https://github.com/Linuxbrew/brew.git
[submodule "vendor/com/github/alphabetum/dotvim"]
	path = vendor/com/github/alphabetum/dotvim
	url = https://github.com/alphabetum/dotvim.git
[submodule "vendor/com/github/robbyrussell/oh-my-zsh"]
	path = vendor/com/github/robbyrussell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/com/github/sorin-ionescu/prezto"]
	path = vendor/com/github/sorin-ionescu/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vendor/com/github/creationix/nvm"]
	path = vendor/com/github/creationix/nvm
	url = https://github.com/creationix/nvm.git
[submodule "vendor/com/github/ndbroadbent/scm_breeze"]
	path = vendor/com/github/ndbroadbent/scm_breeze
	url = https://github.com/ndbroadbent/scm_breeze.git
[submodule "vendor/com/github/moovweb/gvm"]
	path = vendor/com/github/moovweb/gvm
	url = https://github.com/moovweb/gvm.git
[submodule "vendor/com/github/chriskempson/base16-shell"]
	path = vendor/com/github/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vendor/com/github/zsh-users/antigen"]
	path = vendor/com/github/zsh-users/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vendor/com/github/sstephenson/rbenv-default-gems"]
	path = vendor/com/github/sstephenson/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "vendor/com/github/sstephenson/rbenv-gem-rehash"]
	path = vendor/com/github/sstephenson/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule "vendor/com/github/rkh/rbenv-update"]
	path = vendor/com/github/rkh/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule "vendor/com/github/rkh/rbenv-use"]
	path = vendor/com/github/rkh/rbenv-use
	url = https://github.com/rkh/rbenv-use.git
[submodule "vendor/com/github/sstephenson/rbenv-vars"]
	path = vendor/com/github/sstephenson/rbenv-vars
	url = https://github.com/sstephenson/rbenv-vars.git
[submodule "vendor/com/github/rkh/rbenv-whatis"]
	path = vendor/com/github/rkh/rbenv-whatis
	url = https://github.com/rkh/rbenv-whatis.git
[submodule "vendor/com/github/sstephenson/ruby-build"]
	path = vendor/com/github/sstephenson/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
