[submodule "resources/holman/dotfiles"]
	path = resources/holman/dotfiles
	url = https://github.com/holman/dotfiles.git
[submodule "resources/thoughtbot/dotfiles"]
	path = resources/thoughtbot/dotfiles
	url = https://github.com/thoughtbot/dotfiles.git
[submodule "resources/mathiasbynens/dotfiles"]
	path = resources/mathiasbynens/dotfiles
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "resources/ryanb/dotfiles"]
	path = resources/ryanb/dotfiles
	url = https://github.com/ryanb/dotfiles.git
[submodule "resources/rtomayko/dotfiles"]
	path = resources/rtomayko/dotfiles
	url = https://github.com/rtomayko/dotfiles.git
[submodule "resources/cowboy/dotfiles"]
	path = resources/cowboy/dotfiles
	url = https://github.com/cowboy/dotfiles.git
[submodule "resources/tvon/dotfiles"]
	path = resources/tvon/dotfiles
	url = https://github.com/tvon/dotfiles.git
[submodule "resources/ebeigarts/dotfiles"]
	path = resources/ebeigarts/dotfiles
	url = https://github.com/ebeigarts/dotfiles.git
[submodule "resources/mislav/dotfiles"]
	path = resources/mislav/dotfiles
	url = https://github.com/mislav/dotfiles.git
[submodule "resources/cldwalker/irbfiles"]
	path = resources/cldwalker/irbfiles
	url = https://github.com/cldwalker/irbfiles.git
[submodule "resources/square/maximum-awesome"]
	path = resources/square/maximum-awesome
	url = https://github.com/square/maximum-awesome.git
[submodule "resources/paulmillr/dotfiles"]
	path = resources/paulmillr/dotfiles
	url = https://github.com/paulmillr/dotfiles.git
[submodule "home/.janus/Dockerfile.vim"]
	path = home/.janus/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "home/.janus/delimitMate"]
	path = home/.janus/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.janus/nerdcommenter"]
	path = home/.janus/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.janus/vim-airline"]
	path = home/.janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "home/.janus/vim-gitgutter"]
	path = home/.janus/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "home/.janus/vim-go"]
	path = home/.janus/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.janus/vim-hybrid"]
	path = home/.janus/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "home/.janus/vim-jade"]
	path = home/.janus/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "home/.janus/vim-javascript"]
	path = home/.janus/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.janus/vim-mustache-handlebars"]
	path = home/.janus/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "home/.janus/vim-stylus"]
	path = home/.janus/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "home/.janus/vim-tomorrow-theme"]
	path = home/.janus/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "home/.janus/vim-jst"]
	path = home/.janus/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "home/.janus/vim-vwilight"]
	path = home/.janus/vim-vwilight
	url = https://github.com/alphabetum/vim-vwilight.git
[submodule "home/.janus/bufkill.vim"]
	path = home/.janus/bufkill.vim
	url = https://github.com/mattdbridges/bufkill.vim.git
[submodule "home/.janus/Conque-Shell"]
	path = home/.janus/Conque-Shell
  url = https://github.com/oplatek/Conque-Shell.git
  ignore = dirty
[submodule "home/.janus/eclm_wombat.vim"]
	path = home/.janus/eclm_wombat.vim
	url = https://github.com/vim-scripts/eclm_wombat.vim.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.rbenv/plugins/rbenv-default-gems"]
	path = home/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "home/.rbenv/plugins/rbenv-gem-rehash"]
	path = home/.rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule "home/.rbenv/plugins/rbenv-update"]
	path = home/.rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule "home/.rbenv/plugins/rbenv-use"]
	path = home/.rbenv/plugins/rbenv-use
	url = https://github.com/rkh/rbenv-use.git
[submodule "home/.rbenv/plugins/rbenv-vars"]
	path = home/.rbenv/plugins/rbenv-vars
	url = https://github.com/sstephenson/rbenv-vars.git
[submodule "home/.rbenv/plugins/rbenv-whatis"]
	path = home/.rbenv/plugins/rbenv-whatis
	url = https://github.com/rkh/rbenv-whatis.git
[submodule "home/.rbenv/plugins/ruby-build"]
	path = home/.rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "home/.vim"]
	path = home/.vim
  url = https://github.com/carlhuda/janus.git
  ignore = dirty
[submodule "resources/aspiers/shell-env"]
	path = resources/aspiers/shell-env
	url = https://github.com/aspiers/shell-env.git
[submodule "resources/morgant/tools-osx"]
	path = resources/morgant/tools-osx
	url = https://github.com/morgant/tools-osx.git
[submodule "resources/vasi/osxutils"]
	path = resources/vasi/osxutils
	url = https://github.com/vasi/osxutils.git
[submodule "vendor/alphabetum/aliasapp"]
	path = vendor/alphabetum/aliasapp
	url = https://github.com/alphabetum/aliasapp.git
[submodule "vendor/alphabetum/shellapp"]
	path = vendor/alphabetum/shellapp
	url = https://github.com/alphabetum/shellapp.git
[submodule "home/.janus/swift.vim"]
	path = home/.janus/swift.vim
	url = https://github.com/Keithbsmiley/swift.vim.git
[submodule "resources/awood/dotfiles"]
	path = resources/awood/dotfiles
	url = https://github.com/awood/dotfiles.git
