# .gitignore
#
# Global ignore configuration for git
#
# http://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files/
# https://gist.github.com/octocat/9257657

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
