[push]
  default = current
[color]
  ui = auto
[alias]
  aa = add --all
  ap = add --patch
  ca = commit --amend
  ci = commit -v
  co = checkout
  aaci = !git add --all && git commit -v
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git branch -D $1' -
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
  merge-branch = !git checkout master && git merge @{-1}
  msg = commit --allow-empty -m
  pr = !gh pull-request
  st = status
  up = !git fetch origin && git rebase origin/master
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
	editor = vim
[merge]
  ff = only
  tool = opendiff
  summary = true
[gui]
  fontui = -family helvetica -size 11 -weight bold -slant roman -underline 0 -overstrike 0
  spellingdictionary = none
[rerere]
  enabled = 1
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[filter "media"]
  lean = git-media-clean %f
  smudge = git-media-smudge %f
[include]
  path = ~/.gitconfig.local
