###############################################################################
# .rspec
#
# Configuration for RSpec / rspec-core
#
# http://rspec.info/
# https://github.com/rspec/rspec-core
# http://www.rubydoc.info/github/rspec/rspec-core#store_command_line_options__rspec
###############################################################################

# Enable color in the output.
--colour

# Run groups and examples in random order.
--order random
