#==============================================================================
# .zshenv.local
#
# Local, untracked .zshenv settings.
#
# Copy this file to the $HOME directory, but without the '.example' extension.
#==============================================================================

