"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 255
        green: 47
        blue: 146
        alpha: 1
      accentColor:
        red: 115
        green: 252
        blue: 214
        alpha: 1
      genAccent: true
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    useAlternateScoring: true
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "nuclide-installer"
      "nuclide-hack"
      "nuclide-flow"
      "nuclide-file-watcher"
      "nuclide-file-tree"
      "nuclide-diff-view"
      "nuclide-code-format"
      "nuclide-click-to-symbol"
      "vim-mode"
      "vim-mode-visual-block"
      "box-edit"
      "nuclide-blame-provider-hg"
      "hyperclick"
      "nuclide-arcanist"
      "nuclide-blame"
      "linter-markdown"
    ]
    packagesWithKeymapsDisabled: [
      "jumpy"
    ]
    themes: [
      "atom-material-ui"
      "seti-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3e6166fe-00f6-49c7-842f-659cef01c050"
  "file-types":
    ".*.sshconfig": "source.ssh-config"
    ".*muttrc": "source.shell"
    ".bats$": "source.shell"
    ".zsh-theme$": "source.shell"
    "^.ackrc": "text.generic-config"
    "^.amethyst": "source.js"
    "^.bindlerc$": "source.shell"
    "^.curlrc": "text.generic-config"
    "^.gemrc": "text.generic-config"
    "^.git.scmbrc": "source.shell"
    "^.gitconfig.local": "source.git-config"
    "^.gitignore": "source.git-config"
    "^.gntrc": "source.ini"
    "^.gvimrc.after": "source.viml"
    "^.hgrc*": "source.ini"
    "^.htoprc": "text.generic-config"
    "^.inputrc": "text.generic-config"
    "^.mailcap": "source.shell"
    "^.notesrc": "source.shell"
    "^.offlineimaprc$": "source.ini"
    "^.profile$": "source.shell"
    "^.psqlrc": "source.sql"
    "^.rspec$": "text.generic-config"
    "^.sbclrc": "source.lisp"
    "^.scmbrc$": "text.generic-config"
    "^.shared_env.*": "source.shell"
    "^.spacemacs$": "source.lisp"
    "^.tigrc$": "text.generic-config"
    "^.vimrc.after$": "source.viml"
    "^.vimrc.before$": "source.viml"
    "^.wgetrc": "text.generic-config"
    "^.zprofile$": "source.shell"
    "^.zshenv.local.*$": "source.shell"
    "^.zshrc.local.*$": "source.shell"
    "^Baskfile$": "source.shell"
  "fuzzy-finder":
    ignoredNames: [
      "usr"
      "etc"
    ]
    preserveLastSearch: true
    useAlternateScoring: true
  "go-plus":
    goPath: "~/.go"
  jumpy:
    highContrast: true
  linter:
    gutterPosition: "Left"
    lintOnFly: false
    showErrorInline: false
    showErrorTabLine: true
    statusIconScope: "Line"
  "linter-eslint":
    useGlobalEslint: true
  "linter-shellcheck":
    userParameters: "-x -e SC1090"
  metrics:
    userId: "2e9001b50edf75df09b8160944167f2ca1822759"
  minimap:
    absoluteMode: true
    autoToggle: false
    scrollAnimation: true
  "release-notes":
    viewedVersion: "0.94.0"
  "symbols-tree-view": {}
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
