"*":
  "exception-reporting":
    userId: "1e725750-c66d-33e4-9fce-f627ac32bde5"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "c2f08243ecb4a9bc44bd9e46d4f067086d9357e3"
  editor:
    fontSize: 11
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
  core:
    disabledPackages: [
      "metrics"
      "select-rectangle"
      "vim-mode"
    ]
    themes: [
      "atom-dark-ui-slim"
      "atom-dark-syntax"
    ]
  linter:
    showErrorInline: true
  "go-plus":
    goPath: "~/.go"
  "tree-view": {}
