"*":
  "exception-reporting":
    userId: "1e725750-c66d-33e4-9fce-f627ac32bde5"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "c2f08243ecb4a9bc44bd9e46d4f067086d9357e3"
  editor:
    fontSize: 11
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    scrollPastEnd: true
    autoIndentOnPaste: false
  core:
    disabledPackages: [
      "metrics"
      "nuclide-installer"
      "nuclide-hack"
      "nuclide-flow"
      "nuclide-file-watcher"
      "nuclide-file-tree"
      "nuclide-diff-view"
      "nuclide-code-format"
      "nuclide-click-to-symbol"
    ]
    themes: [
      "atom-dark-ui-slim"
      "seti-syntax"
    ]
  linter:
    showErrorInline: true
    gutterPosition: "Left"
    lintOnFly: false
    showErrorTabLine: true
    statusIconScope: "File"
  "go-plus":
    goPath: "~/.go"
  "tree-view": {}
  "autocomplete-plus": {}
  "file-types":
    "^Baskfile$": "source.shell"
    "^.amethyst": "source.js"
    "^.gitconfig.local": "source.git-config"
    "^.gitignore": "source.git-config"
    "^.git.scmbrc": "source.shell"
    "^.gntrc": "source.ini"
    "^.gvimrc.after": "source.viml"
    "^.hgrc*": "source.ini"
    "^.inputrc": "text.generic-config"
    "^.profile$": "source.shell"
    "^.psqlrc": "source.sql"
    "^.shared_env.*": "source.shell"
    "^.spacemacs$": "source.lisp"
    ".*.sshconfig": "source.ssh-config"
    "^.vimrc.before$": "source.viml"
    "^.vimrc.after$": "source.viml"
    "^.wgetrc": "text.generic-config"
    "^.zprofile$": "source.shell"
    ".zsh-theme$": "source.shell"
    "^.zshenv.local.*$": "source.shell"
    "^.zshrc.local.*$": "source.shell"
  "fuzzy-finder":
    ignoredNames: [
      "usr"
      "etc"
    ]
  "symbols-tree-view": {}
  "linter-eslint":
    useGlobalEslint: true
